streamlit
pandas
numpy
scikit-learn
xgboost
tensorflow
optuna
google-generativeai
selenium
requests
beautifulsoup4
geopy
geopandas
shapely
textblob
unidecode
seaborn
matplotlib
plotly
scipy
fpdf
pyarrow
openpyxl
fastparquet